In [2]:
from pykrx import stock

In [14]:
# df = stock.get_market_ohlcv("20210601", "20220601", "035720", adjusted=False)
# df2 = stock.get_market_trading_volume_by_date("20210601", "20220601", "035720")
# df = df.join(df2)
# df = df[['등락률','개인']]
# df['등락률'] = df['등락률'] / max(abs(df['등락률']))
# df['개인'] = df['개인'] / max(abs(df['개인']))
# df.plot()

In [15]:
# df = stock.get_market_ohlcv("20210601", "20220601", "035720", adjusted=False)
# df2 = stock.get_market_trading_volume_by_date("20210601", "20220601", "035720")
# df = df.join(df2)
# df = df[['등락률','기관합계']]
# df['등락률'] = df['등락률'] / max(abs(df['등락률']))
# df['기관합계'] = df['기관합계'] / max(abs(df['기관합계']))
# df.plot()

In [12]:
df = stock.get_market_ohlcv("20210601", "20220601", "035720", adjusted=False)
df2 = stock.get_market_trading_volume_by_date("20210601", "20220601", "035720")
df = df.join(df2)
df = df[['등락률','개인','기관합계']]
df

             등락률      개인    기관합계
날짜
2021-06-01  3.25 -956384  151531
2021-06-02  0.00  209510  -76154
2021-06-03 -0.39   95888  -29463
2021-06-04 -1.98  529488 -218726
2021-06-07  1.61 -314524  173943
...          ...     ...     ...
2022-05-25  1.49 -350145  153153
2022-05-26 -0.37   61815  -61518
2022-05-27  0.25   52742   89939
2022-05-30  2.69 -416075  160558
2022-05-31  1.31  -19604 -179124

[248 rows x 3 columns]

In [13]:
a = []
b = []
c = []
for i in df['등락률'].to_list():
    if i > 0:
        a.append(1)
    elif i < 0:
        a.append(-1)
    else:
        a.append(-1)
for i in df['개인'].to_list():
    if i > 0:
        b.append(1)
    elif i < 0:
        b.append(-1)
    else:
        b.append(0)
for i in df['기관합계'].to_list():
    if i > 0:
        c.append(1)
    elif i < 0:
        c.append(-1)
    else:
        c.append(0)
df['등락률'] = a
df['개인'] = b
df['기관합계'] = c
df

            등락률  개인  기관합계
날짜
2021-06-01    1  -1     1
2021-06-02   -1   1    -1
2021-06-03   -1   1    -1
2021-06-04   -1   1    -1
2021-06-07    1  -1     1
...         ...  ..   ...
2022-05-25    1  -1     1
2022-05-26   -1   1    -1
2022-05-27    1   1     1
2022-05-30    1  -1     1
2022-05-31    1  -1    -1

[248 rows x 3 columns]